<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
  <Properties>
    <Property name="filename">target/test.log</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>

    <RollingFile name="RollingFile"
                 filePattern="logs/%d{dd-MMM-yyyy}.log">
      <PatternLayout>
        <Pattern>%d{dd MMM yyyy HH:mm:ss} %p %c{4.} [%t] %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy interval="24"/>
      </Policies>
    </RollingFile>

  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="RollingFile"/>
    </Root>
  </Loggers>

</Configuration>