#vboxSidemenu {
    -fx-background-color: -bg0-color;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

#labelTitle {
    -fx-text-fill: -text-color;
    -fx-padding: 10px 0 10px 0;
    -fx-opacity: 0.7;
}

#vboxSidemenu > Button {
    -fx-background-color: transparent;
    -fx-text-fill: -text-color;
    -fx-font-size: 16;
    -fx-padding: 10px 0 10px 10px;
    -fx-background-radius: 0;
}

#vboxSidemenu Button:shrinked {
    -fx-padding: 10px 0 10px 0px;
}

#vboxSidemenu > Button:hover {
    -fx-background-color: -bg1-color;
    -icons-color: -secondary-color;
}

#vboxSidemenu > VBox {
    -fx-background-color: -bg1-color;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

#vboxSidemenu > VBox > Button {
    -fx-background-color: transparent;
    -fx-text-fill: -text-color;
    -fx-font-size: 12;
    -fx-padding: 10px 0 10px 15px;
    -fx-background-radius: 0;
}

#vboxSidemenu > VBox > Button:hover {
    -fx-background-color: -bg2-color;
    -icons-color: -secondary-color;
}