
/* PALETTE */
.root {
    -fx-background-color: -bg1-color;

    -primary-color: #be8c1e;
    -secondary-color: #1e60be;
    -bg0-color: #060606;
    -bg1-color: #121212;
    -bg2-color: #212121;
    -bg3-color: #424242;
    -bg4-color: #616161;
    -bg5-color: #757575;
    -icons-color: -primary-color; /* Used for glyph icons */
}

.label {
    -fx-text-fill: white;
    -fx-fill: white;
}

.glyph-icon {
    -fx-text-fill: -icons-color;
    -fx-fill: -icons-color;
}

.glyph-icon:hover {

}

/* Begin TableView */

.table-view {
    -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: -bg2-color;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-table-cell-border-color: -bg3-color;
}

.table-view .table-cell {
    -fx-text-fill: white;
    /*
    -fx-border-color: #424242;
    -fx-border-width: 0 1 0 0;
    */
}

.table-row-cell:even {
    -fx-background-color: -bg1-color;
}

.table-row-cell:odd {
    -fx-background-color: -bg2-color;
}

.table-row-cell:selected {
    -fx-background-color: -primary-color;
}

/* End TableView */

.separator .line {
    -fx-border-color: -secondary-color;
    -fx-border-width: 1;
}

.text-field, .password-field {
    -fx-border-radius: 0;
    -fx-background-color: transparent;
    -fx-border-color: -primary-color;
    -fx-text-fill: white;
    -fx-border-width: 0 0 1 0;
}

.check-box {
    -fx-text-fill: white;
    -fx-background-radius: 0;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-width: 1;
    -fx-border-color: -primary-color;
}

.check-box:selected .mark {
    -fx-background-color: transparent;
    -fx-border-color: -primary-color;
}

.combo-box {
    -fx-background-color: -bg3-color;
    -fx-background-radius: 0;
}

.combo-box .scroll-bar {
    -fx-background-radius: 0;
    -fx-background-color: -bg3-color;
}

.combo-box .scroll-bar .thumb {
    -fx-background-color: -bg1-color;
    -fx-background-radius: 0;
}

.combo-box .arrow {
    -fx-background-color: -secondary-color;
}

.combo-box .list-view {
    -fx-background-color: -bg3-color;
    -fx-text-fill: white;
}

.combo-box .list-cell {
    -fx-background-color: -bg3-color;
    -fx-text-fill: white;
}

.combo-box .label {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: white;
    -fx-background-color: -bg3-color;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: -bg4-color;
}

.button:pressed {
    -fx-background-color: -bg2-color;
}

.button:default {
    -fx-background-color: -primary-color;
}

.button:default:hover {
    -fx-opacity: 0.7;
}

.button:default:pressed {
    -fx-background-color: -secondary-color;
}

.menu-button {
    -fx-background-color: -bg3-color;
    -fx-background-radius: 0;
}

.menu-button:hover {
    -fx-background-color: -bg4-color;;
}

.menu-button .arrow-button .arrow {
    -fx-background-color: -secondary-color;
}

.menu-item {
    -fx-background-color: -bg4-color;
    -fx-background-radius: 0;
}

.menu-item:hover .label {
    -fx-text-fill: -primary-color;
}

.context-menu {
    -fx-background-color: -bg4-color;
}

.radio-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.radio-button .radio {
    -fx-background-color: -bg2-color;
}

.radio-button:selected .radio .dot {
    -fx-background-color: -secondary-color;
}